<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.rhildred.hellophonegap" version="0.0.1">

    <name>Weight Converter</name>

    <description>
        Weight converter - LB to KG | KG to LB
    </description>
    <content src="index.html" />
    <author href="https://github.com/aakankshasingh02">
        Aakanksha Singh
    </author>
    <access origin="*" />
</widget>
